
      <div class="row marketing">

        <h1>Listing of new ideas to Vote</h1>
            <% @ideas.each do |idea| %>
            <div class="col-md-4">
              <tr>
                <td><h4> <%= idea.name %></h4></td>
              </tr>
              <tr>
                <h6> Description:"<em> <%= idea.description %> </em>"</h6>
                <h6> Area: <%= idea.area_list %></h6>
                <h6> Votes: <span class="badge"><%= idea.votes %></span></h6>
                <%= link_to 'Show', idea %>
                <%= link_to 'Edit', edit_idea_path(idea) %>
                <%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
            <% end %>
        <br>

      </div>
      <a class="btn btn-lg btn-success" href="<%= new_idea_path %>" role="button">New Idea</a></p> 

      <br>

<h1>Listing ideas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Area</th>
      <th>Votes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.area %></td>
        <td><%= idea.votes %></td>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path %>
