<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<!-- <p>
  <strong>Area:</strong>
  <#%= @idea.area %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @idea.votes %>
</p>
-->
<p>
  Belongs to:
  <% @idea.areas.each do |area| %>
    <%= link_to @idea.area_list, area_path(area) %>
    <!-- <#%= link_to @idea.area_list, area_path(area_list) %> -->
  <% end %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
