<% content_for :head do %>
  <%= stylesheet_link_tag 'welcome.css' %>
<% end %>
<% content_for :footer do %>
  <%= javascript_include_tag '' %>
<% end %>

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="<%= root_path %>">Home</a></li>
          <li><a href="#">Sign in</a></li>
          <li><a href="#">Sign Up</a></li>
        </ul>
        <h3 class="text-muted">Idea Manager</h3>
      </div>

      <div class="jumbotron">
        <h1>Idea Manager</h1>
        <p class="lead">Internal App for collecting Ideas for improving different Areas.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <% @ideas.each do |idea| %>
          <div class="col-lg-6">
            <h4><%= idea.name %></h4>
            <p><%= idea.area %></p>
            <p><%= idea.votes %></p>
            <%= link_to 'Show', idea %>
            <%= link_to 'Edit', edit_idea_path(idea) %></td>
            <%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %>
      
        <% end %>
        

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <div class="footer">
        <p>© Company 2014</p>
      </div>